/* -------------------------------

		MODULES

------------------------------- */

.container {
	width: 100%;
	max-width: 620px;
	margin: 0 auto;
}


button.danger {
	background-color: red;
}


.url-or-comment {
	margin: 20px 0;
	text-align: center;
}