/* -------------------------------

		MODULES

------------------------------- */

.container {
	width: 100%;
	max-width: 620px;
	margin: 0 auto;
}


button.danger {
	background-color: red;
}
button.success {
	background-color: green;
}

button.sign-in-btn {
	background-color: #F3B215;
	border: 0;
	color: $black-grey;
}

button.register-btn {
	background-color: #1FC370;
	border: 0;
	color: $black-grey;
}


.url-or-comment {
	margin: 20px 0;
	text-align: center;
}

.alert-message {
	min-height: 40px;
	width: 100%;
	padding: 8px;
	color: $white-grey;

	font-weight: 700;

	-webkit-appearance: none;
	-moz-appearance: none;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 0;

	cursor: default;
	position: relative;
	margin-bottom: 20px;

	background-color: $light-grey;


	.message {
		padding-right: 70px;
		display: block;
	}

	.cancel {
		position: absolute;
		right: 8px;
		top: 8px;
		cursor: pointer;
		text-decoration: underline;
	}
}

.alert-message.warning {
	background-color: $orange;

}