/* -------------------------------

		TYPE AND VARIABLES

------------------------------- */

$blue: rgb(28, 82, 162);
$light-blue: #2d72d9;
$orange: #f3b215;

$white-grey: rgb(250, 250, 250);
$bg-grey: #eceef1;
$light-grey: #c3c9d2;
$dark-grey: #5f6979;
$black-grey: rgb(50, 50, 50);

html {
	font-size: 62.5%;
	background-color: $bg-grey;
}

body {
	font-size: 1.4rem;
	font-weight: 400;
	font-family: 'Raleway';
	line-height: 1.6;
	color: #9099a7;
}

nav.header-nav {
	font-size: 1.6rem;
}

a {
	color: inherit;
	text-decoration: underline;
}

button,
h2 {
	a {
		text-decoration: none;
	}
} 

nav {
	color: $black-grey;
	a {
		text-decoration: none;
	}
}

h1 {
	font-size: 2.5rem;
	font-weight: 700;
	margin-bottom: 2rem;
	color: $black-grey;
}

h2 {
	font-weight: 700;
	color: $black-grey;
	display: inline-block;
	margin-bottom: 5px;
}

h3 {
	color: $black-grey;
	margin-bottom: 15px;
}


em {
	font-weight: 700;
	font-style: italic;
}

p {
	margin-bottom: 15px;
}


.story-meta {
	font-size: 1.2rem;
}