/* -------------------------------

		VIEWS

------------------------------- */


/* Stories */

.story-exerpt {
	border-top: 1px solid $light-grey;
	padding: 20px 0;

	position: relative;

	.story-category {
		width: 50px;
		height: 50px;

		border-radius: 50%;
		position: absolute;
		top: 50%;
		margin-top: -25px;
		left: -65px;

		text-align: center;
		padding: 15px 0;
		font-weight: 700;
		color: $white-grey;
	}
}



.story-category.CSS {
	background-color: $light-blue;
}
.story-category.AMA {
	background-color: #DB392C;
}
.story-category.Ask {
	background-color: #1AA85F;
}
.story-category.Show {
	background-color: #D9392B;
}
.story-category.Site {
	background-color: #F3B114;
}
.story-category.Talk {
	background-color: #39B86F;
}
.story-category.Apple {
	background-color: #C3C9D2;
}


.story-link {
	color: #9099a7;
}

span.upvote {
	cursor: pointer;
}



/* Single Story */

.single-story {

	position: relative;

	.story-category {
		width: 50px;
		height: 50px;

		border-radius: 50%;
		position: absolute;
		top: 20px;
		margin-top: -25px;
		left: -65px;

		text-align: center;
		padding: 15px 0;
		font-weight: 700;
		color: $white-grey;
	}



	h1 .story-link {
		font-weight: 400;
	}

	.story-meta {
		margin-bottom: 20px;
		font-size: 1.4rem;
	}

	form {
		margin: 40px 0;
	}


	.single-comment {
		border-bottom: 1px solid $light-grey;
		padding: 20px 0;

		.upvote-link {
			cursor: pointer;
		}
	}
}

.login-prompt {
	@extend fieldset;
}


/* Profile */

.account-profile {

	section {
		margin: 20px 0;
		padding: 30px 0 20px;
		border-top: 1px solid $light-grey;
	}

	ul {
		padding: 20px 0;
	}

	li {
		margin-bottom: 10px;
	}

	.points {
		display: inline-block;
		width: 30%;
		margin: 0 auto;
		text-align: center;
		padding: 0 10px;

		.number {
			font-size: 3rem;
			display: block;
		}
	}

	.recent-comments {
		li { margin-bottom: 10px;}
	}
}




