<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>ng Designer News</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/main.css">
</head>
<body ng-app="ng-designer-news">


	<div ng-controller="AccountCtrl">

	<!-- Hidden container with login and register -->
	<div class="login-register-container">
		<div class="container">

			<div class="sign-in">
				<form ng-submit="signInUser(user)">
					<input type="email" ng-model="user.email" placeholder="Email address">
					<input type="password"  ng-model="user.password" placeholder="Password">
					<button type="submit" class="sign-in-btn">Sign in</button>
					<a ng-href="#/reset-password" class="password-help">I need help.</a>
				</form>
			</div>

			<div class="register">
				<button class="register-btn"><a ng-href="#/register">Register now</a></button>
				<br>
				<p>ng Designer News is a place where the design community meets. </p>
			</div>

		</div>
	</div>
	
	<!-- Main navigation -->
	<nav class="header-nav">
		<div class="container header-nav-container">
			
			<ul class="header-nav-left" ng-controller="NavCtrl">
				<li ng-class="{ active: isStory()}"><a ng-href="#/">Stories</a></li>
				<li ng-class="{ active: isActive('/about')}"><a ng-href="#/about">About</a></li>
			</ul>

			<ul class="header-nav-right">
				<li ng-show="!currentUser" id="signin-button">Sign in / Register</li>
				<li ng-show="currentUser" id="account-name">{{currentUser.first_name}} ({{currentUser.karma}})</li>
			</ul>

			<ul class="account-info">
				<li><a ng-href="#/u/{{currentUser.$id}}">Profile</a></li>
				<li><a ng-click="logoutUser()">Logout</a></li>
			</ul>

		</div>
	</nav>

	</div> <!-- end AccountCtrl -->


	<div class="container main">

		<!-- Sidebar navigation -->
		<nav class="sidebar-nav">
			<ul ng-controller="NavCtrl">
				<li ng-class="{ active: isActive('/')}"><a ng-href="#/">Top stories</a></li>
				<li ng-class="{ active: isActive('/recent')}"><a ng-href="#/recent">Recent stories</a></li>
				<li ng-class="{ active: isActive('/discussions')}"><a ng-href="#/discussions">Discussions</a></li>
				<li class="new-story" ng-class="{ active: isActive('/submit')}" ng-show="currentUser"><a ng-href="#/submit">New Story</a></li>
			</ul>
		</nav>
		
		
		<!-- View -->
		<div ng-view></div>
	</div>


	 <!-- Libs -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.min.js">
    </script>
    <script src="https://cdn.firebase.com/js/client/2.2.2/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>
    <script src="js/lib/moment.js"></script>
    
    <script src="js/script.js"></script>

    <!-- App -->
    <script src="js/app.js"></script>

    <script src="js/services/Authentication.js"></script>

    <script src="js/controllers/AccountCtrl.js"></script>
    <script src="js/controllers/ProfileCtrl.js"></script>
    <script src="js/controllers/NewStoryCtrl.js"></script>
    <script src="js/controllers/StoriesCtrl.js"></script>
    <script src="js/controllers/StoryCtrl.js"></script>
    <script src="js/controllers/NavCtrl.js"></script>

</body>
</html>