<h1>About</h1>

<p>This is a clone of the real <a href="http://news.layervault.com" target="_blank">Designer News</a> made with AngularJS and Firebase. You can actually use the application and it works almost as well as the real thing.</p>


<p><a href="https://twitter.com/ireaderinokun">I</a> am fairly new to these technologies, and wanted to create this as a way to learn how to use them. The code for this is available on my <a href="https://github.com/ireade/ng-designer-news" target="_blank">github</a>.</p>

<p>The design and some text was taken from the <a href="http://news.layervault.com" target="_blank">real Designer News website</a>.</p>

<button class="success"><a href="http://bitsofco.de/2015/building-a-designer-news-clone" target="_blank">Read the blog post</a></button> 