<div class="account-profile">
	
<h1>{{user.first_name}} {{user.last_name}}</h1>

<p>{{user.title}}</p><br>



<div class="account-settings" ng-if="currentUser.$id == userId">

<form ng-submit="updateUser(user)" ng-show="updateFormVisible">
	<input type="text" name="first_name" ng-model="user.first_name" placeholder="First name">

	<input type="text" name="last_name" ng-model="user.last_name" placeholder="Last name">

	<input type="text" name="title" ng-model="user.title" placeholder="Job title">

	<button class="success" type="submit">Update Profile</button>
</form>
	
<button ng-click="updateFormVisible = true">Edit Profile</button>
<button class="danger">Delete Account</button>

</div>

<div class="recent-posts">
	<h1>Recent Posts</h1>
	<ul>
		<li ng-repeat="post in recentPosts | orderBy: '-date' ">
			<h2><a ng-href="#/stories/{{post.id}}">{{post.title}}</a></h2>
			<p>{{post.date | date}}</p>
		</li>
	</ul>
</div>


</div>