<h1>Create an account</h1>

<p>By creating an account, you agree to be nice and post high quality content. The Designer News community bans users very liberally, so behave yourself. </p>

<form ng-submit="registerUser(user)" name="registerUser" novalidate>

	<input type="text" name="first_name" ng-model="user.first_name" placeholder="First name" required>

	<input type="text" name="last_name" ng-model="user.last_name" placeholder="Last name" required>

	<input type="text" name="title" ng-model="user.title" placeholder="Job title" required>

	<input type="email" name="email" ng-model="user.email" placeholder="Email address" required>

	<input type="password" name="password" ng-model="user.password" placeholder="Password" required>

	<button type="submit" ng-disabled="registerUser.$invalid">Create account</button>
	
</form>