<div class="account-profile">
	
<h1>{{user.first_name}} {{user.last_name}}</h1>
<p>{{user.title}}</p><br>


<div class="account-settings" ng-if="currentUser.$id == userId">

<form ng-submit="updateUser(user)" ng-show="updateFormVisible" novalidate>
	<input type="text" name="first_name" ng-model="user.first_name" placeholder="First name">
	<input type="text" name="last_name" ng-model="user.last_name" placeholder="Last name">
	<input type="text" name="title" ng-model="user.title" placeholder="Job title">
	<button class="success" type="submit" ng-click="updateFormVisible = false">Update Profile</button>
</form>


<form ng-submit="deleteUser(user)" ng-show="deleteUserFormVisible" novalidate>
	<input type="email" name="email" ng-model="user.email" placeholder="Email address">
	<input type="password" name="password" ng-model="user.password" placeholder="Password">
	<button class="danger" type="submit">Delete Account</button>
</form>
	
<button ng-click="updateFormVisible = true">Edit Profile</button>
<button class="warning" ng-click="deleteUserFormVisible = true">Delete Account</button>

</div>

<section>
	<div class="points">
		<h2>Karma</h2>
		<span class="number">{{user.karma}}</span>
	</div>
	<div class="points">
		<h2>Posts</h2>
		<span class="number">{{recentPosts.length}}</span>
	</div>
	<div class="points">
		<h2>Comments</h2>
		<span class="number">{{recentComments.length}}</span>
	</div>
</section>


<section>
	<h1>Recent Posts</h1>
	<ul>
		<li ng-repeat="post in recentPosts | orderBy: '-date' ">
			<h2><a ng-href="#/stories/{{post.id}}">{{post.title}}</a></h2>
			<p>{{post.date | date}}</p>
		</li>
	</ul>
</section>

<section class="recent-comments">
	<h1>Recent Comments</h1>
	<ul>
		<li ng-repeat="comment in recentComments | orderBy: '-date' ">
			<blockquote>{{comment.comment}}</blockquote>
			Posted to <a ng-href="#/stories/{{comment.id}}">{{comment.title}}</a>
		</li>
	</ul>
</section>


</div>