<div class="account-profile">
	
<h1>Ire Aderinokun</h1>


<p>{{currentUser.first_name}}</p>

<p>Designer and Developer</p><br>

<button>Edit Profile</button>

<button class="danger">Delete Account</button>


<div class="recent-posts">
	<h1>Recent Posts</h1>

	<ul>
		<li>
			<h2><a href="">Post title goes here</a></h2>
			<p>2 May, 2015</p>
		</li>

		<li>
			<h2>Post title goes here</h2>
			<p>2 May, 2015</p>
		</li>

		<li>
			<h2>Post title goes here</h2>
			<p>2 May, 2015</p>
		</li>
	</ul>
</div>


</div>