<ul class="stories">

	<li class="story-exerpt">
		
		<div class="story-category css">CSS</div>

		<h2><a href="">Post title will go here</a></h2> <span class="story-link">(bitsofco.de)</span>

		<div class="story-meta">
			<span class="upvote"><a href="">Upvote</a> &#8226;</span> 
			<span class="points">7 points and <a href="">5 comments</a></span> &#8226;
			<span class="author">7 hours ago from <a href="">Ire Aderinokun</a>, Web Designer</span>
		</div>
	</li>

	<li class="story-exerpt">
		<div class="story-category ama">AMA</div>

		<h2><a href="">Post title will go here</a></h2> <span class="story-link">(bitsofco.de)</span>

		<div class="story-meta">
			<span class="upvote"><a href="">Upvote</a></span> &#8226;
			<span class="points">7 points and <a href="">5 comments</a></span> &#8226;
			<span class="author">7 hours ago from <a href="">Ire Aderinokun</a>, Web Designer</span>
		</div>
	</li>

	<li class="story-exerpt">
		<div class="story-category discussion">DISC</div>

		<h2><a href="">Post title will go here</a></h2> <span class="story-link">(bitsofco.de)</span>

		<div class="story-meta">
			<span class="upvote"><a href="">Upvote</a></span> &#8226;
			<span class="points">7 points and <a href="">5 comments</a></span> &#8226;
			<span class="author">7 hours ago from <a href="">Ire Aderinokun</a>, Web Designer</span>
		</div>
	</li>

</ul>