<div class="single-story">

<h1 ng-if="story.url"><a ng-href="{{story.url}}" target="_blank">{{story.title}} <span class="story-link">({{story.url}})</span></a></h1>

<h1 ng-if="!story.url">{{story.title}} <span class="story-link">(self.ng-designer-news)</span>
</h1>


<div class="story-meta">
	<span class="upvote" ng-show="currentUser.uid != story.user.uid" ng-if="!hasVoted"><a ng-click="upvote(story.$id)">Upvote</a> &#8226;</span> 
	<span class="points">{{story.voteCount}} points and {{story.commentCount}} comments</span> &#8226;
	<span class="author">{{story.date | fromNow}} from <a ng-href="#/u/{{story.user.id}}">{{story.user.first_name}} {{story.user.last_name}}</a>, {{story.user.title}}</span>
</div>

<p ng-if="story.description">{{story.description}}</p>



<form>
	<textarea name="" id="" cols="30" rows="5" placeholder="Enter your comment. Be nice, or else."></textarea>

	<button type="submit">Comment</button>
</form>



<h2>5 comments</h2>

<ul class="comments">

	<li class="single-comment">
		<h3><a href="">Ire Aderinokun</a>, Web Designer</h3>

		<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed posuere consectetur est at lobortis.</p>

		<div class="story-meta">
			<span class="upvote"><a href="">Upvote</a> &#8226;</span> 
			<span class="points">7 points</span> &#8226;
			<span class="author">7 hours ago</span>
		</div>
	</li>

	<li class="single-comment">
		<h3><a href="">Ire Aderinokun</a>, Web Designer</h3>

		<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed posuere consectetur est at lobortis.</p>

		<div class="story-meta">
			<span class="upvote"><a href="">Upvote</a> &#8226;</span> 
			<span class="points">7 points</span> &#8226;
			<span class="author">7 hours ago</span>
		</div>
	</li>

	<li class="single-comment">
		<h3><a href="">Ire Aderinokun</a>, Web Designer</h3>

		<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed posuere consectetur est at lobortis.</p>

		<div class="story-meta">
			<span class="upvote"><a href="">Upvote</a> &#8226;</span> 
			<span class="points">7 points</span> &#8226;
			<span class="author">7 hours ago</span>
		</div>
	</li>
</ul>


</div>