<div class="single-story">

<div ng-show="story.category" class="story-category {{story.category}}">{{story.category}}</div>

<h1 ng-if="story.url"><a ng-href="{{story.url}}" target="_blank">{{story.title}} <span class="story-link">({{story.url}})</span></a></h1>

<h1 ng-if="!story.url">{{story.title}} <span class="story-link">(self.ng-designer-news)</span>
</h1>


<div class="story-meta">
	<span class="upvote" ng-if="currentUser && (currentUser.uid != story.user.uid) && !hasVoted"><a ng-click="upvote(story.$id)">Upvote</a> &#8226;</span> 
	<span class="points">{{story.voteCount}} points and {{story.commentCount}} comments</span> &#8226;
	<span class="author">{{story.date | fromNow}} from <a ng-href="#/u/{{story.user.id}}">{{story.user.first_name}} {{story.user.last_name}}</a>, {{story.user.title}}</span>
</div>

<p ng-if="story.description">{{story.description}}</p>



<form ng-submit="addComment(comment)" novalidate>
	<textarea ng-model="comment.text" cols="30" rows="5" placeholder="Enter your comment. Be nice, or else."></textarea>

	<button type="submit" ng-if="currentUser">Comment</button>
	<div ng-if="!currentUser" class="alert-message warning">
		<span class="message">You must be logged in to leave a comment</span>
	</div>
</form>



<h2>{{comments.length}} comments</h2>

<ul class="comments">

	<li class="single-comment" ng-repeat="comment in comments">
		<h3><a ng-href="#/u/{{comment.user.id}}">{{comment.user.first_name}} {{comment.user.last_name}}</a>, {{comment.user.title}}</h3>

		<p>{{comment.text}}</p>

		<div class="story-meta">
			<span class="comment-upvote" ng-if="currentUser && (currentUser.uid != comment.user.uid)"><a class="upvote-link" ng-click="upvoteComment(comment)">Upvote</a> &#8226;</span> 
			<span class="comment-upvote">{{comment.voteCount}} points</span> &#8226;
			<span class="comment-date">{{comment.date | fromNow}}</span>
		</div>
	</li>


</ul>


</div>