<h1>Recent</h1>

<div ng-if="alertMessage" class="alert-message {{alertMessage.type}}">
	<span class="message">{{alertMessage.message}}</span>
	<span class="cancel" ng-click="cancelAlert">(Cancel)</span>
</div>

<ul class="stories">

	<li class="story-exerpt" ng-repeat="story in stories | orderBy: '-date' ">
		
		<div ng-show="story.category" class="story-category {{story.category}}">{{story.category}}</div>

		<h2 ng-if="story.url"><a ng-href="{{story.url}}">{{story.title}}</a></h2> 
		<h2 ng-if="!story.url"><a ng-href="#/stories/{{story.$id}}">{{story.title}}</a></h2> 

		<span ng-if="story.url" class="story-link">({{story.url}})</span>
		<span ng-if= "!story.url" class="story-link">(self.ng-designer-news)</span>

		<div class="story-meta">
			<span class="upvote" ng-if="currentUser.id != story.user.id"><a href="">Upvote</a> &#8226;</span> 
			<span class="points">{{story.voteCount}} points and <a ng-href="#/stories/{{story.$id}}">{{story.commentCount}} comments</a></span> &#8226;
			<span class="author">{{story.date | fromNow}} from <a href="">{{story.user.first_name}} {{story.user.last_name}}</a>, {{story.user.title}}</span>
		</div>
	</li>


</ul>