<ul class="stories">

	<li class="story-exerpt" ng-repeat="story in stories">
		
		<div class="story-category css">{{story.category}}</div>

		<h2><a href="">{{story.title}}</a></h2> <span class="story-link">({{story.url}})</span>

		<div class="story-meta">
			<span class="upvote"><a href="">Upvote</a> &#8226;</span> 
			<span class="points">{{story.voteCount}} points and <a href="">{{story.commentCount}} comments</a></span> &#8226;
			<span class="author">{{story.date}} from <a href="">Ire Aderinokun</a>, Web Designer</span>
		</div>
	</li>


</ul>