<div class="single-story">

<h1>Post title goes here <span class="story-link">(bitsofco.de)</span></h1>

<div class="story-meta">
	<span class="upvote"><a href="">Upvote</a> &#8226;</span> 
	<span class="points">7 points and <a href="">5 comments</a></span> &#8226;
	<span class="author">7 hours ago from <a href="">Ire Aderinokun</a>, Web Designer</span>
</div>

<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>



<form>
	<textarea name="" id="" cols="30" rows="5" placeholder="Enter your comment. Be nice, or else."></textarea>

	<button type="submit">Comment</button>
</form>



<h2>5 comments</h2>

<ul class="comments">

	<li class="single-comment">
		<h3><a href="">Ire Aderinokun</a>, Web Designer</h3>

		<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed posuere consectetur est at lobortis.</p>

		<div class="story-meta">
			<span class="upvote"><a href="">Upvote</a> &#8226;</span> 
			<span class="points">7 points</span> &#8226;
			<span class="author">7 hours ago</span>
		</div>
	</li>

	<li class="single-comment">
		<h3><a href="">Ire Aderinokun</a>, Web Designer</h3>

		<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed posuere consectetur est at lobortis.</p>

		<div class="story-meta">
			<span class="upvote"><a href="">Upvote</a> &#8226;</span> 
			<span class="points">7 points</span> &#8226;
			<span class="author">7 hours ago</span>
		</div>
	</li>

	<li class="single-comment">
		<h3><a href="">Ire Aderinokun</a>, Web Designer</h3>

		<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed posuere consectetur est at lobortis.</p>

		<div class="story-meta">
			<span class="upvote"><a href="">Upvote</a> &#8226;</span> 
			<span class="points">7 points</span> &#8226;
			<span class="author">7 hours ago</span>
		</div>
	</li>
</ul>


</div>