<h1>Post a story</h1>

<p>Submit a link <em>or</em> provide a comment to start a discussion.</p>


<form ng-submit="addStory(story)" novalidate>

	<input type="text" placeholder="Post title" ng-model="story.title">

	<input type="url" placeholder="http://www.bitsofco.de" ng-model="story.url">

	<p class="url-or-comment">Include a url <em>or</em> a comment</p>

	<textarea name="" id="" cols="30" rows="5" placeholder="Enter your comment. Be nice, or else" ng-model="story.description"></textarea>

	<button type="submit">Post</button>
</form>